# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# videos
*.mp4
*.mp3

# pictures
*.jpg
*.jpeg
*.png
*.gif

# exception for readme images
!baseline_sys_diagram.png

# Sphinx documentation
docs/_build/

# developing purposes only
cnns/
cvat/

# random file for wsl2 ubuntu
/libssl1.1_1.1.1f-1ubuntu2.19_amd64.deb